## .NET build output
bin/
obj/
out/

## SQLite
*.db
*.db-shm
*.db-wal

## IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.userprefs

## Mac/Win
.DS_Store
Thumbs.db

## Test results
TestResults/
*.trx
coverage*.xml
*.coverage

## Rider/ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

## Logs
*.log
